<h2>My Products</h2>
<button (click)="createProduct()">Add a new product!</button>
<ul class="products">
	<li *ngFor="let product of products"
	[class.selected]="product === selectedProduct"
	(click)="onSelect(product)">
		<span class="badge">{{product.Id}}</span> {{product.Title}}
	</li>
</ul>
<div *ngIf="selectedProduct">
    <h2>
        {{selectedProduct.Title | uppercase}} - 
        {{selectedProduct.Price}} - 
        {{selectedProduct.Description | slice:0:20}} 
        <span *ngIf="selectedProduct.Description.length > 20">...</span>
    </h2>
	<button (click)="gotoDetail(selectedProduct)">View Details</button>
</div>